 .review-details{
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    
} 
.review-info{
    padding: 10px;
}

.review-details img{
    width: 420px;
    height: 370px;
    margin: 20px;
    

}